@media print {

    nav {
        display: none;
    }

    .apercu {
        width: 210mm;
        height: 297mm;
    }

    .displaynone {
        display: none;
    }

    body > * {
      margin: 0;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
      margin-left: 0;
      padding-right: 0;
      width: 100%;
    }

    .hideForPrint {
      display: none;
    }



    @page {
      size: auto;  margin: 0mm; 
      position: absolute;
    }

    
}

#pageContainer {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

#pageContainer[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

.textInBox {
    text-align: center;
    background-color: aquamarine;
}


/* Custom */
body {
    height: 100%;
}

/*Page de connection au compte*/
#Div_Connection {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 100%;
    background-color: #f8f8f8;
}

#bouton_send {
    color: black;
    background-color: #f3d503;
    border-color: #f3d503;

}

#bouton_send_connection {
    color: black;
    background-color: #f3d503;
    border-style: none;

}

/*Page de creation de compte*/
#formulaire-saisie-inscription {
    margin-left: 400px;
}

#bouton_send_incription {
    color: black;
    margin-top: 50px;
    background-color: #f3d503;
    border-style: none;
}

#bouton_send_incription_grey{
    color: grey;
    margin-top: 50px;
    background-color: #f3d503;
    border-style: none;
}

#forceMotPasseMinimal{
    border-style: dashed;
    width: 350px;
    height: 110px;
    border: 2px;
    border-radius: 30px;
    border-color: black;
    display: inline-block;
    color: red;
    margin-top: 90px;
    padding-right: 0px;
    padding-left: 0px;
    display: none;

}
#specMotPasse{
    color: black;
}

.inscriptionErreur{
    margin: 0px;
    padding: 0px;
    color: red;
    display: none;
}

.form-signin {
    max-width: 385px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#bouton_send {
  color: black;
  background-color: #f3d503;
  border-color: #f3d503;

}

/* Widgets property */

.eaxoText {
  display: inline-block;
  margin: 4px;
}

.eaxoBox {
  display: inline-block;
  border:black 2px solid;
  
}

.eaxoInput {
  border:none;
  background: none;
}

.eaxoInput:focus {
  outline: none;
}

.blackIcon {
  color:black
}

#spinnerLoading {
  position :absolute;
  right: 20%;
  top:100px;
  opacity: 0;
}

.exoID {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid;
  width:calc(2em);
  text-align: center;
}

h3 {
  display: inline;
}

.elementPreview {
  width: 300px;
  height: 30px;
}


/*
Components style css
*/

.accordion-body ul {
  list-style: none;
}

.eaxoResizable  {
  border: 1px dashed black;
}