

@media print {

    nav {
        display: none;
    }

    .apercu {
        width: 210mm;
        height: 297mm;
    }

    .displaynone {
        display: none;
    }

    body > * {
      margin: 0;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
      margin-left: 0;
      padding-right: 0;
      width: 100%;
    }

    .hideForPrint {
      display: none;
    }

    .eaxoResizable {
      border: none;
    }


    @page {
      size: auto;  margin: 0mm; 
      position: absolute;
    }

    .ui-icon-gripsmall-diagonal-se {
      display: none;
    }
    

    
}

#pageContainer {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

#pageContainer[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

.textInBox {
    text-align: center;
    background-color: aquamarine;
}


/* Custom */
body {
    height: 100%;
    background-color: #f8f8f8;
}

/*Page de connection au compte*/
#Div_Connection {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 100%;
    background-color: #f8f8f8;
}

#bouton_send {
    color: black;
    background-color: #f3d503;
    border-color: #f3d503;

}

#bouton_send_connection {
    color: black;
    background-color: #f3d503;
    border-style: none;

}

/*Page de creation de compte*/
#formulaire-saisie-inscription {
    margin-left: 400px;
}

#bouton_send_incription {
    color: black;
    margin-top: 50px;
    background-color: #f3d503;
    border-style: none;
}

#bouton_send_incription_grey{
    color: grey;
    margin-top: 50px;
    background-color: #f3d503;
    border-style: none;
}

#forceMotPasseMinimal{
    border-style: dashed;
    width: 350px;
    height: 110px;
    border: 2px;
    border-radius: 30px;
    border-color: black;
    display: inline-block;
    color: red;
    margin-top: 90px;
    padding-right: 0px;
    padding-left: 0px;
    display: none;

}
#specMotPasse{
    color: black;
}

.inscriptionErreur{
    margin: 0px;
    padding: 0px;
    color: red;
    display: none;
}

.form-signin {
    max-width: 385px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#bouton_send {
  color: black;
  background-color: #f3d503;
  border-color: #f3d503;

}

/* Widgets property */

.eaxoText {
  display: inline-block;
  margin: 4px;
}

.eaxoBox {
  display: inline-block;
  border:black 2px solid;
  
}

.pagination {
  display: inline-block;
  align-items: center;
}

.paginationbis {
  text-align: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #ffc107;
  color: white;
  border: 1px solid #ffc107;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*Temporary*/
.bd-placeholder-img {
  background-color: gray;
}
.eaxoInput {
  border:none;
  background: none;
}

.eaxoInput:focus {
  outline: none;
}

.blackIcon {
  color:black
}

#spinnerLoading {
  position :absolute;
  right: 20%;
  top:100px;
  opacity: 0;
}

.exoID {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid;
  width:calc(2em);
  text-align: center;
}

h3 {
  display: inline;
}

.elementPreview {
  width: 300px;
  height: 30px;
}


/*
Components style css
*/

.accordion-body ul {
  list-style: none;
}

/*

/*
API Images
*/

#divImagesHome{
    display: inline;

}

#controleurImages{
    width: auto;
    height: 50px;
    margin: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 2px dashed;
    border-color: #D68910;
}

.divDossierApiImages{
    display: inline;
    float: left;
    width: 120px;
    height: 150px;
    background-color: unset;
    border-radius: 20px;
    margin-right: 15px;
    margin-bottom: 0px;
    overflow: hidden;
}

.vueDossierApiImages{
    width: 70px;
    margin-top: 13px;
    margin-left: 25px;
}

.vueImageApiImages{
    height: 67px;
    width: 70px;
    margin-left: 25px;
    margin-top: 13px;
    border-radius: 30px;

}
.divImageApiImages{
    display: inline;
    float: left;
    width: 120px;
    height: 150px;
    background-color: unset;
    border-radius: 20px;
    margin-right: 15px;
    margin-bottom: 0px;
    overflow: hidden;
}

.titreDossiers{
    font-size: 13px;
    color: black;
    white-space: normal;
    text-align: center;
}

.titreImages{
    font-size: 13px;
    color: black;
    text-align: center;
    white-space: normal;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Dossier_Controleurs{
    width: 40px;
    height: 40px;
    /*
    border: 1px;
    border: solid;
    border-color: black;
     */
    border-radius: 5px;
}

#Dossier_Back{
    padding: 4px;
    opacity: 0.3;
    float: right;
}

#Dossier_Home{
    padding: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.3;
}

#Dossiers_Chemin{
    width: auto;
    font-size: 15px;
    font-style: oblique;
    color: gray;
    padding: 3px;
    /*text-align: center;*/
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
}

#Dossier_Add_Picture{
    margin-left: 20px;
    padding: 2px;
}

#Dossier_Add_Picture_Input{
    display:none;
}

#Dossier_Add_Folder{
   padding: 5px;
   margin-left: 300px;

}

.modal-lg{
    width: 100%;
}

/*Menu Contextuel*/
.Dossier_Icone_Menu_Contextuel{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
}

.Dossier_Div_Menu_Contextuel{

}

#Dossier_download_Div{
    opacity: 0.3;
}

.renomer{
    display: none;
}

.Dossier_Icone_Menu_Contextuel_text{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    margin: 0px;
}

#Dossier_delete_text{
    color: red;
    font-weight: bold;
}

#Dossier_Contextuel_Menu{
    overflow: hidden;
    position: absolute;
    display: none;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 1);
    background-color: white;
    width: 110px;
    height: 85px;
}


.surrounded {
  border:1px solid black;
  padding: 5px;
}

.subsurrounded {
  margin-right: 10px;
  margin-left: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-backdrop {
  /* bug fix - no overlay */
  display: none;
}

.eaxoSelectedBorder {

  border: 1px dashed black;

}

.imageLoaded {
  height:100%;
  width: 100%;
  border-radius:none;
  border:none;
  margin:0;
  padding: 0;
}